{% extends 'partials/base.html' %}
{% block title %} Product List {% endblock title %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}
    
    <h2>All Products</h2>

    <div>
        <div>
            {% for product in products %}
                <div><div>-{{product.get_percentage|floatformat:0}}%</div>
                    <div><img src="{{ product.image.url }}" alt="image" width="100" height="100"></div>
                    <div>
                        <small>by {{product.vendor.title}}</small> <br>
                        <small>{{product.title}}</small>
                        <small>{{product.price}}</small>
                        <small><del >{{product.old_price}}</del></small>
                        
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}